:root {
    --color-dark1: #592C12;
    --color-dark2: #260E05;
    --color-light1:#D9C7A7;
    --color-light2: #BFA78A;
}
@media screen and (max-width: 1280px) {
    #products {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}
@media screen and (max-width: 1024px) {
    #hero-text h2 {
        font-weight: 700 !important;
    }
    #products {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media screen and (max-width: 600px) {
    #hero-text {
        bottom: 48% !important;
    }
    #nav-bar {
        align-items: center !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    #nav-bar > * {
        padding: 12px 0 !important;
    }
    #nav-bar-wrapper {
        height: auto !important;
    }
    #products {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media screen and (max-width: 300px) {
    #nav-bar-list li{
        margin: 6px !important;
    }
    #products {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light1);
    color: #333;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.6em;
    margin: 0;
}

.color-dark1 {
    color: var(--color-dark1);
    border-color: var(--color-dark1);
}.color-dark2 {
    color: var(--color-dark2);
    border-color: var(--color-dark2);
}.color-light1 {
    color: var(--color-light1);
    border-color: var(--color-light1);
}.color-light2 {
    color: var(--color-light2);
    border-color: var(--color-light2);
}

.background-light1 {
    background-color: var(--color-light1);
}.background-light2 {
    background-color: var(--color-light2);
}.background-dark1 {
    background-color: var(--color-dark1);
}.background-dark2 {
    background-color: var(--color-dark2);
}

.anchor-scroll {
    transform: translateY(-50%);
    position: relative;
    top: -100px;
}


#page-hero-wrapper {
    width: 100%;
    height: 75vh;
    min-height: 600px;
    background-position: bottom !important;
    background-size: cover !important;
}
#nav-bar-wrapper {
    width: 100%;
    border-bottom: solid 1px #999;
    height: 8%;
    min-height: 60px;
}
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: auto;
    color: #f3f3f3;
}
#nav-bar-list {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#nav-bar-list li{
    display: inline;
    margin: 12px;
    cursor: pointer;
    font-size: calc(14px + 0.2vw);
}
#nav-bar-list a {
    text-decoration: none;
    color: inherit;
}
#page-hero-logo {
    font-family: "Petit Formal Script", Arial, Helvetica, sans-serif;
}
#page-hero-logo h1{
    margin: 0;
    display: inline-block;
    font-size: calc(24px + 0.4vw);
}
#page-hero-content {
    position: relative;
    width: 80%;
    min-width: 280px;
    margin: auto;
    height: 92%;
}
#hero-text {
    position: absolute;
    bottom: 32%;
    left: 0;
    width: 50%;
    min-width: 280px;
    max-width: 600px;
    font-size: calc(14px + 0.5vw); 
    color: #f3f3f3;
}
#hero-text h2 {
    font-weight: 400;
    font-size: calc(16px + 1.4vw);
    line-height: 1.1em;
    text-shadow: 0px 0px 2px #333, 0px 0px 6px #333;
}
#hero-text p {
    line-height: 1.4em;
    text-shadow: 0px 0px 2px #333, 0px 0px 6px #333;
}
#hero-buttons-wrapper {
    color: #f3f3f3;
    width: 100%;
}
#hero-buttons-wrapper a {
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 4px;
}
#hero-main-button {
    background-color: var(--color-light1);
    color: var(--color-dark2);
}
#hero-extra-button {
    background-color: var(--color-dark1);
    color: var(--color-light1);
}



.page-section-wrapper {
    width: 100%;
    padding: 24px 0;
}

.page-section {
    width: 80%;
    max-width: 1322px;
    margin: auto;
}
.section-title{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    font-family: "Petit Formal Script";
    border-bottom: solid 2px;
    padding: 8px 0;
    margin: 0;
}


#products {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    column-gap: calc(4px + 1%);
    row-gap: calc(12px);
    width: 100%;
}
.product-border1 {
    transform: rotate(2deg);
    display: inline-block;
    background-color: #444;
    width: 100%;
    height: 100%;
}
.product-border2 {
    transform: rotate(-2deg);
    border: solid 2px var(--color-dark2);
    display: inline-block;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
}
.product-card-content {
    width: 100%;
    height: 100%;
}
.product-card-image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    background-color: #aaaaaa;
}
.product-card-image-wrapper img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-card-bottom {
    text-align: center;
    font-size: calc(12px + 25%);
}
.product-price {
    font-family: serif;
    color: #8a4C32;
}

#map-wrapper {
    padding: 12px 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    padding: calc(12px + 1.5vw);
}
.text-container {
    flex: 1;
    padding: 12px;
    font-size: 22px;
    line-height: 32px;
    min-width: 240px;
}
.image-container {
    flex: 1;
    min-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.button {
    padding: 12px;
    font-size: 22px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
}

#application-modal-box-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}
#application-modal-box {
    width: 60%;
    max-width: 600px;
    min-width: 280px;
    background-color: #f3f3f3;
    padding: 12px;
}
#application-form-wrapper {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: 8px;
    grid-template-areas:
    "fname lname"
    "email email"
    "resume resume"
    "resume resume";
    margin: 12px;
}


#application-modal-box-close {
    cursor: pointer;
    float: right;
}
form label input {
    background-color: rgb(255, 255, 255);
    padding: 0.3em;
    width: calc(100% - 0.6em);
    border: solid 1px #666;
    font-size: 20px;
} form label textarea {
    background-color: rgb(255, 255, 255);
    padding: 0.3em;
    width: calc(100% - 0.6em);
    height: 120px;
    border: solid 1px #666;
    resize: vertical;
    font-size: 20px;
}
#application-submit-button {
    margin: auto;
    display: block;
    padding: 12px 16px;
    border: 0;
    background-color: var(--color-dark2);
    color: #f3f3f3;
    cursor: pointer;
}